<footer>
	<div class="container">
	<div class="advantages">
	<div class="row">
	<div class="col-md-4 advantage">
	<div class="advantage-title">Vendez</div>
	<div>
	Revendez vos produits d'occasion en toute sécurité !<br>
	Vous êtes assuré de recevoir l'argent de vos ventes.
	</div>
	</div>
	<div class="col-md-4 advantage">
	<div class="advantage-title">Achetez</div>
	<div>
	Achetez des produits d'occasion sans vous soucier !<br>
	Le vendeur recevra votre argent qu'après réception de votre achat.
	</div>
	</div>
	<div class="col-md-4 advantage">
	<div class="advantage-title">Confidentialité et sécurité</div>
	<div>
	Pour votre sécurité, vos données restent confidentielles.<br>
	L'évaluation des internautes vous aide dans votre démarche d'achat et de vente.
	</div>
	</div>
	</div>
	</div>
	</div>
	<div class="footer-links">
	<div class="container">
	<div class="footer-readus clearfix">
	<div class="footer-readus-text">
	Inscrivez-vous à RPcorpo et suivez toutes nos actualités,<br>les nouveautés du site et les meilleures histoires de nos utilisateurs.
	</div>
	<a class="footer-readus-btn" href="{{deadLink}}">Je m'inscris</a>
	</div>
	<div class="row footer-menu">
	<div class="col-md-4">
	<div class="footer-title">Découvrez notre site</div>
	<ul class="footer-menu-links">
	<li><a href="{{deadLink}}">Découvrez-nous</a></li>
	<li><a href="{{deadLink}}">Passer une annonce gratuite</a></li>
	<li><a href="{{deadLink}}">FAQ</a></li>
	<li><a href="{{deadLink}}">Nous contacter</a></li>
	</ul>
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	<div class="footer-title">Nos valeurs</div>
	<ul class="footer-menu-links">
	<li><a href="{{deadLink}}">Réseau social de petites annonces</a></li>
	<li><a href="{{deadLink}}">Les petites annonces gratuites</a></li>
	</ul>
	</div>
	</div>
	<div class="clearfix"></div>
	</div>
	</div>
	<div class="container">
	<div class="credits">
	<p>RPcorpo 2009-2019 - Tous droits réservés - Site d'achat, vente de biens d'occasions et neufs sécurisé.</p>
	<p>
	<a href="{{deadLink}}">Mentions Légales et Rétractation</a>
	</p>
	<p>
	<img src="/mooc-symfony4/public/img/mangopay.png" class="mangopay-credits" alt="mangopay" height="26px">
	</p>
	</div>
	</div>
</footer>